body {
    box-sizing: border-box;
    display: flex;
}

#puzzle_canvas {
    height: auto;
    margin: 10px;
    object-fit: fill;
}

.gallery{
    width: 60%;
    position: relative;
    padding: 70px;
}


.zdjecieja {
    width: 20%;
    float: left;
    padding: 15px;
    object-fit: contain;
    padding: 28px;
}

div{
    align-self: center;
    font-size: 25px;
}

button{
    font-size: 15px;
}

@media screen and (max-width: 1000px){

    body{
        flex-direction: column;
        display: block;
    }

    .gallery{
        margin: auto;
        display: block;
    }

    #desc, #size, #play{
        font-size: 25px;
        margin: auto;
        display: block;
        float: left;
        margin: 10px;
    }

    .gallery{
        width: 100%;
        position: relative;
        padding: 70px;
    }
    
    .zdjecieja {
        width: 25%;
    }

    .zdjecia {
        float: right;
    }

    #insert {
        margin: auto;
        width: 50%;
    }

    #desc {
        text-align: center;
    }
}